<h1>estudiante</h1>
<%= @estudiante.nombre %>
<%= @estudiante.apellido %>
<%= @estudiante.documento %>
<%= @estudiante.sexo %>
<%= @estudiante.grado %>
<%= @estudiante.division %>


<p>estado de matricula</p>
print estado matricula
<p>cita siguiente</p>
print estado proceso => fecha de la cita: print dia cita

