<h1>Nueva cita</h1>
<% t = Appotime.all %>
<%= @appointment.admission_request.name %>
<%= simple_form_for @appointment do |f| %>
 <%= f.collection_select(:date, t,:id, :hour) %>
  <%= f.button :submit %>
  
<% end %>
<%= link_to "Atras", admission_requests_path %>




