<h1>Nueva cita</h1>
<%= @appointment.admission_request.name %>
<%= simple_form_for @appointment do |f| %>
  <%= f.hidden_field :admission_request_id %>
 <%= f.collection_select(:date, @appotime,:appointment_date, :appointment_date) %>

  <%= f.button :submit %>
  
<% end %>
<%= link_to "Atras", admission_requests_path %>




