<%= link_to "Nueva Admision", new_admission_request_path %>

<table> 
  <thead> This is a table</thead>
  <tbody>
    <th>Nombre</th>
    <th>Apellido</th>
    <% @requests.each do |request| %> 
      <tr>
        <td> <%= request.name %> </td>
        <td> <%= request.lastname %> </td>
        <td> <%= request.document %> </td>
        <td> <%= request.grade %> </td>
        <td> <%= request.gender %> </td>
        <td> <%= request.status %> </td>
        <td>Proceso siguiente: <% if request.status == "new" %>
        <%= link_to "Nueva cita", new_admission_request_appointment_path(request)%></td>
        <% else %>
       
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>





