<%= link_to "Nueva Admision", new_admission_request_path %>

<table> 
  <thead> This is a table</thead>
  <tbody>
    <th>Nombre</th>
    <th>Apellido</th>
    <% @requests.each do |request| %> 
      <tr>
        <td> <%= request.name %> </td>
        <td> <%= request.lastname %> </td>
        <td> <%= request.document %> </td>
        <td> <%= request.grade %> </td>
        <td> <%= request.gender %> </td>
        <td> <%= request.status %> </td>
        <td>Proceso siguiente: <% if request.status == "new" %>
        <%= link_to "Nueva cita", new_admission_request_appointment_path(request)%></td>
        <% else %>
        <% if request.status == "cita pendiente" %>
          <td> cita siguiente:  <%= request.appointment.date %> </td>
          <% else %>
              <% if request.status == "inscrito" %>
                <%= link_to "Nueva cita, prueba de admision", new_admission_request_appointment_path(request)%>
                <% else %>
        <% if request.status == "prueba pendiente" %>
          <td> cita siguiente:  <%= request.appointment.date %> </td>
                 <% else %>
              <% if request.status == "admitido" %>
                <%= link_to "Nueva cita, entrevista familiar", new_admission_request_appointment_path(request)%>
                <% else %>
        <% if request.status == "entrevista pendiente" %>
          <td> entrevista siguiente:  <%= request.appointment.date %> </td>
          <% else %>
              <% if request.status == "matricula pendiente" %>
                <%= link_to "Nueva cita, matricula", new_admission_request_appointment_path(request)%>
                <% else %>
        <% if request.status == "oficializacion pendiente" %>
          <td> cita matricula siguiente:  <%= request.appointment.date %> </td>
          <td> <%= button_to "recibo de matricula", :controller => :dashboard, :action => :show_pdf %></td>
          <% else %>
        <% if request.status == "matriculado" %>
          <td>  <%= request.name %>  esta oficialmente matriculado</td>
                                <% end %>
                             <% end %>
                          <% end %>
                      <% end %>
                   <% end %>
                <% end %>
              <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table> 
  <thead> This is another table</thead>
  <tbody>
    <th>Imprime aqui el formulario de inscripcion</th>
      <tr>
        <td> <%= button_to "formulario de inscripcion", :controller => :dashboard, :action => :show_pdf %> </td>
      </tr>
  </tbody>
</table>





