<%= simple_form_for @request do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :lastname, label: "Apellido"  %>
  <%= f.input :document, label: "Documento"  %>
  <h4>grado:</h4>
  <%= f.collection_radio_buttons :grade, [['1', 'primero'] ,['2', 'segundo'],['3', 'tercero'],['4', 'cuarto'],['5', 'quinto'],['6', 'sexto'],['7', 'septimo'],['8', 'octavo'],['9', 'noveno'],['10', 'decimo'],['11', 'undecimo']], :first, :last %>
  <h4>sexo:</h4>
  <%= f.collection_radio_buttons :gender, [['masculino', 'masculino'] ,['femenino', 'femenino']], :first, :last %>
  <%= f.button :submit %>
  
<% end %>
<%= link_to "Atras", admission_requests_path %>